.RecipePicture {
  width: 50%;
  padding: 16px 0;
}

.RecipePicture-Image {
  display: block;
  width: 100%;
  border-radius: 6px;
}

@media screen and (max-width: 760px) {
  .RecipePicture {
    width: 100%;
  }
}
