.RecipeBox {
  width: 100%;
}

.RecipeBox-Image {
  width: 100%;
  display: block;
  transition: all ease-out 0.3s;
  border-radius: 8px;
  opacity: 0.9;
}

.RecipeBox:hover .RecipeBox-Image {
  opacity: 1;
}

.RecipeBox-Title {
  color: #fff;
  font-size: 22px;
  line-height: 36px;
  font-weight: bold;
}

.RecipeBox:hover .RecipeBox-Title {
  color: #090;
}
