.RecipeList {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.RecipeList-Item {
  box-sizing: border-box;
  width: 320px;
  padding: 16px;
}

@media screen and (max-width: 1320px) {
  .RecipeList-Item {
    width: 340px;
  }
}

@media screen and (max-width: 1050px) {
  .RecipeList-Item {
    width: 360px;
  }
}

@media screen and (max-width: 760px) {
  .RecipeList-Item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}


