html {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 320px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #eee;
  font-family: Helvetica, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: url(./static/bg.jpg) no-repeat fixed;
  background-size: cover;
}

h1 {
  margin: 0;
  padding: 0;
  font: bold 40px/64px Helvetica, serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
}

a img {
  border: 0;
  vertical-align: middle;
}

input {
  padding: 0;
  border: none;
}

button,
input,
textarea {
  font: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

:focus {
  outline: 0;
}
