.BaseLayout {
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
  padding-bottom: 50px;
  text-shadow: 1px 1px 1px #000;
}

.BaseLayout-Header {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  padding-right: 16px;
  padding-left: 16px;
  background: rgba(255,255,255, 0.8);
}

.BaseLayout-Content {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 1280px;
  box-sizing: border-box;
}

@media screen and (max-width: 760px) {
  .BaseLayout {
    padding-top: 80px;
  }

  .BaseLayout-Header {
    height: 60px;
  }
}
